<!doctype html>
<html lang="fr" data-theme="abilian">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>European Cloud Technologies Directory</title>

  {{ vite_assets | safe }}
</head>

<body class="ads bg-white">

<header class="bg-white border-b border-gray-300">
  <nav class="max-w-7xl mx-auto">
    <div class="navbar py-4 lg:px-8 px-4">
{#      <div class="flex-none mr-2">#}
{#        <a href="/"><img src="/static/img/logo-cnll.png" alt="" class="h-8"></a>#}
{#      </div>#}

      <div class="flex-1">
        <div class="items-stretch hidden lg:flex">

          <a href="/" class="btn btn-ghost mr-4 text-gray-700 text-base ">
            Home
          </a>

          <a href="/" class="btn btn-ghost mr-4 text-gray-700 text-base ">
            Countries
          </a>

          <a href="/" class="btn btn-ghost mr-4 text-gray-700 text-base ">
            Cities
          </a>

          <a href="/" class="btn btn-ghost mr-4 text-gray-700 text-base ">
            Solutions
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="bg-white border-b border-gray-300">
  <div class="max-w-7xl mx-auto">
    <div class="flex items-end py-4 lg:px-8 px-4 text-gray-700">
      <h1 class="flex items-baseline text-2xl font-semibold mr-4">
        {{ title }}
      </h1>
    </div>
  </div>
</div>

{% block body %}
{% endblock %}

</body>
</html>
